.home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.form{
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
td{
    padding: 10px;
}
button{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    background-color: transparent;
}
a{
    text-decoration: none;
}
@media screen and (max-width: 769px) {
    .form{
        padding: 10px 0px;
    } 
}