.home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.form{
    padding: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 2px 2px 2px black;
    border-radius: 10px;
}
td{
    padding: 10px;
}
button{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    background-color: transparent;
}
h2{
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: white;
}
.add{
    background-color: green;
}
.logout{
    color: white;
    background-color: red;
}
.confirmationModal{
    position: absolute;
    top: 0;
    padding: 25px;
    box-shadow: 1px 1px 2px black;
    border-radius: 10px;
    text-align: center;
}
.confirmationModal button{
    margin:10px 30px;
}
@media screen and (max-width: 769px) {
    .form{
        padding: 10px 10px 20px 0px;
    } 
}